.banner-container {
  background-size: cover;
  height: 70vh;
  color: #fff;
  position: relative;
}

.content {
  padding: 40px;
}

.gen-btn {
  background: rgba(0, 0, 0, 0.5);
  padding: 16px;
  color: #fff;
  border: none;
  margin-right: 20px;
  width: 260px;
}

.movie-desc {
  max-width: 400px;
}

.shade {
  background-image: linear-gradient(0deg, #111, transparent);
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
